.search-container {
  position: absolute;
  top: 24px;
  left: 245px;
  z-index: 1;
  width: 100%;
  display: grid;
  /* background-color: #00000090; */
}

.search-container input {
  padding: 10px 10px;
  border-radius: 12px;
  font-size: 15px;
  place-self: center;
  animation: fadeIn 0.3s;
}